<div id="plans-container" class="container">
    <div class="row mt-4">
        <div class="col-md-3">
            <ele-marketplace-estimated-monthly-usage-filter></ele-marketplace-estimated-monthly-usage-filter>
        </div>
        <div class="col-md-9">
            <ele-marketplace-plan-card></ele-marketplace-plan-card>
            <ele-marketplace-plan-card></ele-marketplace-plan-card>
            <ele-marketplace-plan-card></ele-marketplace-plan-card>
            <ele-marketplace-plan-card></ele-marketplace-plan-card>
            <ele-marketplace-plan-card></ele-marketplace-plan-card>
        </div>
    </div>
    <!-- <form [formGroup]="form" (ngSubmit)="onSubmit(model)" (change)="onSubmit(model)" *ngIf="model">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div>
        {{ model | json }}
    </div> -->
</div>

